{% extends 'my_site/base.html' %}
{% block title %} Главная страница {% endblock %}
{% block content %}
    <h2>Главная страница</h2>

    {% if request.user.is_authenticated %}

        Привет, {{ request.user.username }}. Нажми
            <a href="{% url 'auth-app:logout' %}">сюда</a>, чтобы выйти из аккаунта
            <br>или <a href="{% url 'auth-app:profile' %}">сюда</a>, чтобы посмотреть свой профиль

    {% else %}
        Ты не пользователь! Нажми
            <a href="{% url 'auth-app:login' %}">сюда</a>, чтобы войти в аккаунт
    {% endif %}

    <br><a href="{% url 'blog-app:blog-list' %}">Перейти к списку блогов</a>

{% endblock %}